*.config
*.db
*.db-shm
*.db-wal
*.v2
*.vsidx
/ClashExtension/.vs
*.json
*.dll
*.exe
*.pdb
*.user
*.cache
*.BuildWithSkipAnalyzers
*.txt
*.editorconfig
*.props
*.targets
*.Up2Date
*.http
*.sln
*.png
*.map
